<div class="d-flex justify-content-between align-items-center mb-2">
    <div class="d-flex gap-2">
        <button class="btn btn-sm btn-outline-primary" @onclick="Charger">🔄 Actualiser</button>
        <button class="btn btn-success">+ Ajouter</button>
    </div>

    <div class="d-flex gap-2 align-items-center">
        <input type="text" class="form-control form-control-sm" placeholder="Rechercher" @oninput="OnSearchChanged">
        <select class="form-select form-select-sm" @onchange="OnCategorieChanged">
            <option value="Tout" selected>Tout</option>
            <option value="Accessoires">Accessoires</option>
            <option value="Audio">Audio</option>
            <option value="Informatique">Informatique</option>
        </select>
    </div>
</div>


@code {
    [Parameter]
    public EventCallback Charger { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnCategorieChanged { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnSearchChanged { get; set; }
}
